 .h1{
  text size: 10px;
  text-align: center;
 }
 .caixa1{
    background-color: chocolate;
    width: 300px;
    height: 300px;
    float:left;
  <--!.caixa1 {
    background-color: chocolate;
    width: 300px;
    height: 300px;
    float: left;
    padding: 10px 12px 14px 16px;
    border-width: 5px 2px 10px 12px;
    border-color: blue red green orange;
    border-style: dotted solid groove double;
    margin: 10px;-->
  }
  .caixa2{
    background-color: rgb(30, 210, 96);
    width: 300px;
    height: 300px;
    float:left;
  }
  .caixa3{
    background-color: rgb(144, 23, 47);
    width: 300px;
    height: 300px;
    float:left;
  }
  .contenidor{
    width: 900px;
    height: 900px;
    border:#2e518b 5px dashed;
  }
/* instruccions de css per model de caixes
width
height

padding   (expresió minificada)
padding-top
padding-right
padding-bottom
padding-left

margin (expresió minificada)
margin-top
margin-right
margin-bottom
margin-left


style, color, width

border (expresió minificada)
border-top
border-right
border-bottom
border-left

border-width (expresió minificada)
border-top-width
border-right-width
border-bottom-width
border-left-width

border-style (expresió minificada)
border-top-style
border-right-style
border-bottom-style
border-left-style

border-color (expresió minificada)
border-top-color
border-right-color
border-bottom-color
border-left-color
*/
