 .caixa1{
    background-color: chocolate;
    width: 300px;
    height: 300px;
    float:left;
  }
  .caixa2{
    background-color: rgb(30, 210, 96);
    width: 300px;
    height: 300px;
    float:left;
  }
  .caixa3{
    background-color: rgb(144, 23, 47);
    width: 300px;
    height: 300px;
    float:left;
  }
  .contenidor{
    width: 900px;
    height: 900px;
    border:#2e518b 5px dashed;
  }
